In [1]:
import pandas as pd

In [2]:
mock_data = pd.read_csv('MOCK_DATA (3).csv')

In [3]:
mock_data.head()

,id,first_name,last_name,email,Password,created_on,Unnamed: 6
0,1,Lisha,McCarrick,lmccarrick0@walmart.com,oD7.D_>pPkv#,3/4/2024,NaN
1,2,Willard,Frazier,wfrazier1@springer.com,lR2|9uhs2X,4/10/2024,NaN
2,3,Joann,Cisson,jcisson2@tamu.edu,rF0>87=!!WT/,6/2/2024,NaN
3,4,Persis,Bittlestone,pbittlestone3@sitemeter.com,"eV5.<dG_i9""\xJ",9/16/2024,NaN
4,5,Erma,Fisbey,efisbey4@google.pl,gG9*17Zlc_,7/10/2024,NaN

In [4]:
mock_data.shape

(1000, 7)

In [5]:
mock_data.columns

Index(['id', 'first_name', 'last_name', 'email', 'Password', 'created_on',
       'Unnamed: 6'],
      dtype='object')

In [6]:
mock_data['Unnamed: 6'].unique()

array([nan, '7/17/2024'], dtype=object)

In [7]:
mock_data[mock_data['Unnamed: 6'] == '7/17/2024']

,id,first_name,last_name,email,Password,created_on,Unnamed: 6
33,34,Alis,Germon,agermonx@msn.com,iS5*G19%r|o,agermonx@msn.com,7/17/2024

In [8]:
mock_data.iloc[33, 6]

'7/17/2024'

In [9]:
mock_data['created_on'] = mock_data['created_on'].replace([mock_data.iloc[33, 5]], mock_data.iloc[33, 6] )

In [10]:
mock_data[31:34]

,id,first_name,last_name,email,Password,created_on,Unnamed: 6
31,32,Inga,Dunkerly,idunkerlyv@usa.gov,qL3/7c`8U8Iy,4/28/2024,NaN
32,33,Monro,Crowth,mcrowthw@cpanel.net,yK9(f6b0m,7/18/2024,NaN
33,34,Alis,Germon,agermonx@msn.com,iS5*G19%r|o,7/17/2024,7/17/2024

In [11]:
mock_data = mock_data.iloc[:, 0:6]

In [12]:
mock_data.dtypes

id            object
first_name    object
last_name     object
email         object
Password      object
created_on    object
dtype: object

In [13]:
mock_data[mock_data['id'] == 'Goly']

       id first_name last_name              email          Password created_on
329  Goly    Giselle      Goly  ggoly95@vimeo.com  pY5$ql\(fl~z"a8/  9/17/2024

In [14]:
mock_data['id'] = mock_data['id'].replace(['Goly'],330)

In [15]:
mock_data[320:332]

,id,first_name,last_name,email,Password,created_on
320,321,Courtney,Foulgham,cfoulgham8w@rediff.com,aH0{5#%=,3/8/2024
321,322,Kendal,Saich,ksaich8x@patch.com,wF2?ckREJ4A>JY},12/31/2023
322,323,Gonzalo,Oakwell,goakwell8y@unicef.org,aK6$bqhLI&`_73$s,12/24/2023
323,324,Gustavus,Luddy,gluddy8z@timesonline.co.uk,uW9<Uz9IVAuloa_,2/12/2024
324,325,Les,Lincoln,llincoln90@aboutads.info,hV8=aMrc$jJ,6/20/2024
325,326,Etheline,Toman,etoman91@bing.com,oT9_(f/>S?b@,4/29/2024
326,327,Trix,Snelson,tsnelson92@ow.ly,dC2*0W=(4,3/12/2024
327,328,Trixie,Webborn,twebborn93@spotify.com,xG5>5#j%C$d,7/16/2024
328,329,Lemmie,Krates,lkrates94@berkeley.edu,bL2)VgV$)Z1v,4/9/2024
329,330,Giselle,Goly,ggoly95@vimeo.com,"pY5$ql\(fl~z""a8/",9/17/2024
330,331,Orelee,Chetwind,ochetwind96@narod.ru,tF1*_6|ef4kM>=`,5/28/2024
331,332,Matthus,Sherebrook,msherebrook97@naver.com,"aQ5""q=H`w@",6/24/2024

In [16]:
mock_data.shape

(1000, 6)

In [17]:
#mock_data.to_csv('Client_Data.csv', index=False)